.l_main {
    height: 85%;
    width: 70%;
    display: flex;
    align-items: center;
    background-color: white;
    position: relative;
}

.login {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login>p:nth-child(1) {
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 15%;
}

.login>#signup {
    margin-top: 5%;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}

.login>#signup>span {
    color: rgb(103, 168, 241);
    cursor: pointer;
}

.fillup {
    width: 95%;
    height: 9%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fillup>i {
    font-size: 2rem;
    color: rgb(113, 46, 236);
}

.fillup>input {
    width: 85%;
    height: 100%;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1%;
    border-radius: 40px;
    outline: none;
    border: none;
}

#pass {
    width: 75%;
}

#eye {
    font-size: 1.5rem;
    cursor: pointer;
}

.login>button {
    width: 30%;
    height: 8%;
    border: none;
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5%;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, rgb(37, 37, 201), rgb(120, 45, 190));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login>#fo_p {
    font-size: 0.9rem;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(103, 168, 241);
    cursor: pointer;
    margin-top: 1%;
}
/*..............................................*/
.signup{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup>p{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 6%;
    margin-bottom: 5%;
}
.signup>.fillup{
    height: 10%;
}
.signup>button{
    width: 30%;
    height: 10%;
    border: none;
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to right, rgb(37, 37, 201), rgb(120, 45, 190));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signup>#login{
    margin-top: 3%;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}
.signup>#login>span{
    color: rgb(103, 168, 241);
    cursor: pointer;
}
/*....................Button disable..........................*/
.login>button:disabled,.signup>button:disabled{
    cursor: not-allowed;
    background-image: linear-gradient(to right, rgb(145, 145, 231), rgb(200, 159, 238));
}

/* ................................................. */
.slider{
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: white;
    display: block;
    /*left: 0;
    right: none;*/
}
.img_area {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.img_area>.close_tab{
    position: absolute;
    width: 20%;
    height: 5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    top: 1%;
    right: 1%;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right,rgb(255, 94, 0),rgb(255, 217, 0));
}

.img_area>.img_sec {
    width: 100%;
    height: 100%;
}

.img_area>.img_sec>img {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}