@font-face {
    font-family:chines;
    src: url(Zenzai\ Itacha.ttf);
}
.contener-B{
    width: 98%;
    height: 75%;
    background-color:transparent;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid white;*/
    position: relative;
    background-image: url('./test3.jpg');
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: 100% auto;
    align-items: center;
    justify-content: center;
    margin-top: 0.5%;
    margin-bottom: 9%;
}
.contener-B>.hover_detail{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0 !important;
    z-index:1;
    background-color: rgba(255, 255, 255, 0.281);
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.048), rgba(128, 128, 128, 0.603),rgb(0, 0, 0));
    /*backdrop-filter: blur(1px);*/
    
}
.contener-B>.hover_detail>.contener_detail{
    height: 40%;
    width: 100%;
    position: relative;
}
.contener-B>.hover_detail>.contener_detail>p{
    height: 100%;
    width: 35%;
    text-align: justify;
    margin-top: 1%;
    margin-left: 10%;
    font-family: chines;
    letter-spacing: 3px;
    line-height: 1.7;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.555);
}
.contener-B>.hover_detail>.contener_detail>p:nth-child(1){
    height: auto !important;
}
.contener-B>.hover_detail>.contener_detail>button{
    position: absolute;
    top: 20%;
    right: 20%;
    background-color: transparent;
    border: none;
    border-radius: 40px;
    background-image: linear-gradient(to right,rgba(255, 255, 0, 0.651),rgba(31, 30, 30, 0.699));
    color: rgba(240, 233, 233, 0.822)!important;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    height: 20%;
    width: 10%;
    /* color: rgb(133, 130, 130); */
}
.contener-B>.hover_detail>.contener_detail>button.get-more{

    right: 9% !important;
}
/*.contener>p{
    width: 15%;
    margin-left: 10px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-family: sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(5px);
}*/
.contener-B>.card_section {
    display: flex;
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: -20%;
    overflow-x: auto;
    z-index: 2;
    /*background-color: rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(5px);*/
}
.contener-B>.card_section::-webkit-scrollbar {
    display: none;
}
.contener-B>.card_section>.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height:98%;
    text-align: center;
    /* flex: 0 0 13%; */
    flex: 0 0 auto;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.527), 0 6px 20px 0 rgba(3, 3, 3, 0.555);
}

.contener-B>.card_section>.card:nth-child(1){
    margin-left: 0;
}

.contener-B>.card_section>.card:hover>.h_detail{
    display: flex;
}
.contener-B>.card_section>.card>.h_detail{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:1;
    background-color: rgba(85, 82, 82, 0.281);
    backdrop-filter: blur(5px);
    margin-top: 2%;
    display:none;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.contener-B>.card_section>.card>.h_detail>p{
    font-family: sans-serif;
    font-size:1.2rem;
    font-weight: bold;
    /* font-weight: 500; */
    text-justify: inter-word;
    overflow-y: hidden;
    color: white;
    /* color: rgb(39, 32, 32); */
}
.contener-B>.card_section>.card>.h_detail>P:nth-child(2){
    width: fit-content;
    height: 10%;
    font-size: 0.9rem;
    background-color: rgb(92, 91, 91);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5%;
}
.contener-B>.card_section>.card>.h_detail>a{
    height: 12%;
    width: fit-content;
    padding: 1% 3%;
    text-decoration: none;
}
.contener-B>.card_section>.card>.h_detail>a>button{
    margin-top: 5%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid yellow ;
    background-color: yellow;
    color: rgb(41, 38, 38)!important;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.contener-B>.card_section>.card>img {
    width: 100%;
    height: 100%;
    margin-top: 2%;

}
/* .contener-B>.card_section>.card_more{
    display: flex;
    align-items: center;
    justify-content: center;
    height:98%;
    text-align: center;
    flex: 0 0 8%;
    background-color: rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(10px);
}
.contener-B>.card_section>.card_more>button{
    margin-top: 5%;
    display:flex;
    height: 30%;
    width: 75%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid yellow ;
    border-radius: 50px;
    background-color: rgb(255, 238, 0);
    color: rgb(41, 38, 38)!important;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
} */
