footer{
    width: 98%;
    height: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #343a40;
}
footer>ul{
    display: flex;
    flex-direction: column;
    height: 80%;
    list-style-type: none;
}
footer>ul>li,footer>ul>li>a{
    display: flex;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: left;
    justify-content: left;
    margin-top: 10%;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
footer>ul>li:nth-child(1){
    justify-content: center;
    color: rgb(233, 227, 227);
    border-bottom: 1px solid white;
}
footer>ul>li>a{
    margin-top: 0;
}
footer>ul>li>i,footer>ul>li>a>i{
    font-size: 1.6rem;
    margin-right:10px;
}
footer>.f_sub_main{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    background-color: #212529;
}
footer>.f_sub_main>p{
    margin-left: 5%;
    font-family: sans-serif;
    color: white;
}
footer>.f_sub_main>p:nth-child(2){
    position: absolute;
    right: 10%;
}